<?xml version="1.0"?>
<!--
Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="omni_base" >

  <!-- INCLUDES -->
  <xacro:include filename="$(find omni_base_description)/urdf/wheels/wheel.ros2_control.xacro"/>
  <xacro:include filename="$(find omni_base_description)/urdf/sensors/sensors.ros2_control.xacro"/>

  <!-- MACRO DEFINITION-->
  <xacro:macro name="omni_base_ros2_control">

    <!-- Init the ROS 2 control gazebo interface -->
    <xacro:if value="${use_sim_time}">
      <!-- Gazebo joint velocity controller plugins for wheel joints -->
      <gazebo>
        <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
          <joint_name>wheel_front_left_joint</joint_name>
          <p_gain>10.0</p_gain>
          <i_gain>0.0</i_gain>
          <d_gain>0.0</d_gain>
        </plugin>
        <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
          <joint_name>wheel_front_right_joint</joint_name>
          <p_gain>10.0</p_gain>
          <i_gain>0.0</i_gain>
          <d_gain>0.0</d_gain>
        </plugin>
        <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
          <joint_name>wheel_rear_left_joint</joint_name>
          <p_gain>10.0</p_gain>
          <i_gain>0.0</i_gain>
          <d_gain>0.0</d_gain>
        </plugin>
        <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
          <joint_name>wheel_rear_right_joint</joint_name>
          <p_gain>10.0</p_gain>
          <i_gain>0.0</i_gain>
          <d_gain>0.0</d_gain>
        </plugin>
      </gazebo>
    </xacro:if>

    <!-- ROS 2 control config-->
    <ros2_control name="ros2_control_omni_base_system" type="system">

      <!-- Execution env config -->
      <xacro:if value="${use_sim_time}">

        <!-- HW interface; gazebo-->
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <!-- IMU sensor (only in simulation)-->
        <xacro:ros2_control_imu name="base_imu_sensor"/>

      </xacro:if>
      <xacro:unless value="${use_sim_time}">

        <!-- HW interface; robot control-->
        <hardware>
          <plugin>robot_control/RobotControl</plugin>
        </hardware>

      </xacro:unless>

      <!-- wheels -->
      <xacro:ros2_control_wheel side="front_right" />
      <xacro:ros2_control_wheel side="front_left" />
      <xacro:ros2_control_wheel side="rear_right" />
      <xacro:ros2_control_wheel side="rear_left" />

    </ros2_control>

  </xacro:macro>

</robot>
